.tableOptions {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
  padding: 40px 0;
}

.tableContainer {
  overflow-x: scroll;
}

table {
  --header-color: #423d47;
  --festivity-color: #726f73;
  --modified-cell: #e5faf1;
  --verified-cell: #e5faf1;
  --uncompleted-row: #faedc8;
  --month-color: #c9e1ff;
  --workday-color: #dbd9d7;
  --subcolumn-color: #f5f2e7;
  --parent-row: #e3e3e3;
  --child-odd-row: #f6f6f3;

  font-family: "OpenSans";
}

thead {
  & tr {
    color: white;
    font-weight: 500;
    text-align: left;
    & td {
      padding: 15px 8px;
      min-width: 100px;
      & .headerPill {
        background-color: var(--gray);
        margin-right: 1rem;
        padding: 8px 12px;
        border-radius: 30px;
        &.headerPill--noFill {
          background: none;
        }
      }
    }
    & td:first-child {
      min-width: 150px;
      background-color: white;
    }
  }

  & .timelineRow {
    color: black;
    & td {
      padding: 8px;
    }
    & td:first-child {
      background-color: white;
    }
  }

  & .subcolumnsRow {
    color: black;
    & td {
      background-color: var(--subcolumn-color);
      padding: 8px;
    }
    & td:first-child {
      background-color: white;
    }
  }
}

tbody tr {
  & td {
    padding: 15px 8px;
    min-width: 100px;
    text-align: right;
  }
  & td:first-child {
    min-width: 150px;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &.parent {
    background-color: var(--parent-row);
    font-weight: 600;
  }

  &.child {
    background-color: white;
  }

  &.child:nth-child(odd) {
    background-color: var(--child-odd-row);
  }

  &.level-1 {
    & td:first-child {
      padding-left: 28px;
    }
  }

  &.level-2 {
    & td:first-child {
      padding-left: 48px;
    }
  }
}
