.tableOptions {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
  padding: 40px 0;
}

.tableContainer {
  overflow-x: scroll;
}

table {
  --header-color: #423d47;
  --festivity-color: #726f73;
  --modified-cell: #faedc8;
  --verified-cell: #e5faf1;
  font-family: "OpenSans";
}

thead tr {
  background-color: var(--header-color);
  color: white;
  font-weight: 500;
  text-align: left;
  & td {
    padding: 15px 8px;
    min-width: 100px;
  }
  & td:first-child {
    min-width: 150px;
  }
}

tbody tr {
  & td {
    padding: 15px 8px;
    min-width: 100px;
    text-align: right;
  }
  & td:first-child {
    min-width: 150px;
    text-align: left;
  }

  &.parent {
    background-color: #f8f9fa;
    font-weight: 600;
  }

  &.child {
    background-color: white;
  }

  &.level-1 {
    & td:first-child {
      padding-left: 28px;
    }
  }

  &.level-2 {
    & td:first-child {
      padding-left: 48px;
    }
  }
}
